$text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;

.accordionAltItem {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(33.33% - 40px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px;
    padding: 10px;
    position: relative;
    .darkBackground{
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background: rgba(0, 0, 0, 0.4);
    }
    .accordionAltTitle {
        display: flex;
        flex-direction: column;
        color: #ffffff;
        text-shadow: $text-shadow;
        font-weight: bold;
        z-index: 10;
        padding: 10px;
        text-align: center;
        font-size: smaller;
        height: 100px;
    }
    .accordionAltContent {
        align-items: flex-start;
        color: #ffffff;
        font-weight: bold;
        z-index: 10;
        font-size: smaller;
    }
}

.color_noclass {
    color:#d3d3d3;
    text-shadow: $text-shadow;
    display: inline-block;
}
  
.color_warrior {
    color:#c69b6d;
    text-shadow: $text-shadow;
    display: inline-block;
}

.color_paladin {
    color:#f48cba;
    text-shadow: $text-shadow;
    display: inline-block;
}

.color_hunter {
    color:#aad372;
    text-shadow: $text-shadow;
    display: inline-block;
}

.color_rogue {
    color:#fff468;
    text-shadow: $text-shadow;
    display: inline-block;
}

.color_priest {
    color:#ffffff;
    text-shadow: $text-shadow;
    display: inline-block;
}

.color_deathknight {
    color:#c41e3b;
    text-shadow: $text-shadow;
    display: inline-block;
}

.color_shaman {
    color:#2359ff;
    text-shadow: $text-shadow;
    display: inline-block;
}

.color_mage {
    color:#68ccef;
    text-shadow: $text-shadow;
    display: inline-block;
}

.color_warlock {
    color:#9382c9;
    text-shadow: $text-shadow;
    display: inline-block;
}

.color_monk {
    color:#008467;
    text-shadow: $text-shadow;
    display: inline-block;
}

.color_druid {
    color:#ff7c0a;
    text-shadow: $text-shadow;
    display: inline-block;
}

.color_demonhunter {
    color:#a330c9;
    text-shadow: $text-shadow;
    display: inline-block;
}