.accordionAltItem {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: calc(33.33% - 40px);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 10px;
    padding: 10px;
    position: relative;
    .darkBackground{
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background: rgba(0, 0, 0, 0.4);
    }
    .accordionAltTitle {
        display: flex;
        flex-direction: column;
        color: #ffffff;
        font-weight: bold;
        z-index: 10;
        padding: 10px;
        text-align: center;
        font-size: smaller;
        height: 100px;
    }
    .accordionAltContent {
        align-items: flex-start;
        color: #ffffff;
        font-weight: bold;
        z-index: 10;
        font-size: smaller;
    }
}
  
