$text-shadow: -1.5px -1.5px 0 #000, 1.5px -1.5px 0 #000, -1.5px 1.5px 0 #000, 1.5px 1.5px 0 #000;

.accordionItem {
    align-items: center;
    color: #ffffff;
    cursor: pointer;
    &:nth-child(even){
        background-color: #191919;
    }
    &:nth-child(odd){
        background-color: #333333;
    }
    &.player1{
        background: linear-gradient(#DFBD69, #926F34);
    }
    &.player2{
        background: linear-gradient(#bbc2cc  , #979c9f );
    }
    &.player3{
        background: linear-gradient(#a97142  , #cd7f32 );
    }
    .accordionTitle {
        font-size: medium;
        align-items: flex-start;
        display: flex;
        flex-wrap: wrap;
        padding: 15px;
        div {
            flex: 1 33%;
            font-weight: bold;
            text-align: center;
        }
    }
}
.accordionContent {
    background: #ffffff;
    margin: auto;
    display: flex !important;
    flex-wrap: wrap;
    padding: 0px !important;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    max-height: 95vh;
    overflow-y: scroll;
}
  

.color_warrior {
    color:#c69b6d;
    text-shadow: $text-shadow;
}

.color_paladin {
    color:#f48cba;
    text-shadow: $text-shadow;
}

.color_hunter {
    color:#aad372;
    text-shadow: $text-shadow;
}

.color_rogue {
    color:#fff468;
    text-shadow: $text-shadow;
}

.color_priest {
    color:#ffffff;
    text-shadow: $text-shadow;
}

.color_deathknight {
    color:#c41e3b;
    text-shadow: $text-shadow;
}

.color_shaman {
    color:#2359ff;
    text-shadow: $text-shadow;
}

.color_mage {
    color:#68ccef;
    text-shadow: $text-shadow;
}

.color_warlock {
    color:#9382c9;
    text-shadow: $text-shadow;
}

.color_monk {
    color:#008467;
    text-shadow: $text-shadow;
}

.color_druid {
    color:#ff7c0a;
    text-shadow: $text-shadow;
}

.color_demonhunter {
    color:#a330c9;
    text-shadow: $text-shadow;
}