.App {
  background-image: url("https://images4.alphacoders.com/106/thumb-1920-1061610.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
}
header {
  height: 200px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.7);
}
.headerContent{
  height: 100%;
  display: flex !important;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  font-weight: bold;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;;
}

h1 {
 margin-top: 0px;
}

p {
  margin-bottom: 1px;
  margin-top: 1px;
}


